*{
	margin: 0px;
	padding: 0px;
    font-family: 'Open Sans', sans-serif;
}


.container{
	width: 1140px;
	margin: 0px auto;
}

.banner{
    background: url(../img/banner.jpg);
    background-size: cover;
    width: 100%;
    float: left;
}

.logo-menu-logo{
    width: 100%;
}

.logo-menu{
    
}

.logo {
    width: 50%;
    float: left;
    margin-top: 50px;
}

.logo img{

}

.menu {
    width: 50%;
    float: left;
    margin-top: 50px;
  
}

.header-btn{

}

.menu nav ul{
    float: right;
}

.menu nav ul li {
    list-style: none;
    display: inline-block;
}

.menu nav ul li p{
    color: #fff;
}

.menu nav ul li a {
    color: #fff;
}



.fa.fa-bars {
    font-size: 24px;
}

.banner-banner{
    width: 100%;
    float: left;
    
}

.banner-text{

}

.banner-text h3 {
    text-align: center;
    font-size: 70px;
    margin-top: 252px;
    color: #fff;
}

.banner-text span{
    color: #f7600e;
}

.banner-text p {
  
    color: #fff;
    text-align: center;
    font-size: 18pt;
    margin: 38px 244px 0px 229px;
}

.header-btn {
    margin-top: 64px;
    margin-left: 315px;
}

.hire-us {
    padding: 19px 74px;
    border-radius: 10px;
    border: 1px solid gray;
    background: transparent;
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.hire-us:hover{
    background: #f7600e;
}

.our-works{
    padding: 20px 58px;
    border-radius: 10px;
    border: 1px solid gray;
    background: transparent;
    color: #fff;
    font-size: 16px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.our-works:hover{
    background: #f7600e;
}

.header-icon {
    text-align: center;
    margin-top: 195px;
    margin-bottom: 60px;
}


.fa.fa-angle-down {
    color: #fff;
    padding: 8px 11px;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50px;
}

/*Gallery section*/

.gallery{
    width: 100%;
    float: left;
}

.gallery-one{
    width: 25%;
    float: left;
    margin-top: 148px;
}

.gallery-one img {
    margin: 0 auto;
    display: block;
 
   
}

.gallery-img {
    border-radius: 154px;
    padding: 48px 6px;
    width: 50%;
    border: 1px solid gray;
    margin: 0 auto;
}

.gallery-one h3 {
    text-align: center;
    margin-top: 31px;
    font-size: 14pt;
    color: #3b434c;
}

.gallery-one p {
    margin-top: 32px;
    color: #3b434c;
    text-align: center;
    margin: 32px 50px 0px 45px;
    line-height: 1.5;
    margin-bottom: 109px;
}


.gallery-two{
    width: 25%;
    float: left;
    margin-top: 148px;
}

.gallery-two img {
    margin: 0 auto;
    display: block;
    padding: 20px;
    border: 1px solid gray;
   
}

.gallery-two h3 {
    text-align: center;
    margin-top: 39px;
    font-size: 14pt;
    color: #3b434c;
}

.gallery-two p {
    margin-top: 32px;
    color: #3b434c;
    text-align: center;
    margin: 37px 50px 0px 45px;
    line-height: 1.5;
    margin-bottom: 109px;
}


.gallery-three{
    width: 25%;
    float: left;
    margin-top: 148px;
}

.gallery-three img {
    margin: 0 auto;
    display: block;
    padding: 20px;
    border: 1px solid gray;
   
}
.gallery-three h3 {
    text-align: center;
    margin-top: 31px;
    font-size: 14pt;
    color: #3b434c;
}

.gallery-three p {
    margin-top: 32px;
    color: #3b434c;
    text-align: center;
    margin: 32px 50px 0px 45px;
    line-height: 1.5;
    margin-bottom: 109px;
}



.gallery-four{
    width: 25%;
    float: left;
    margin-top: 148px;
}

.gallery-four img {
    margin: 0 auto;
    display: block;
    padding: 20px;
    border: 1px solid gray;
   
}
.gallery-four h3 {
    text-align: center;
    margin-top: 31px;
    font-size: 14pt;
    color: #3b434c;
}

.gallery-four p {
    margin-top: 32px;
    color: #3b434c;
    text-align: center;
    margin: 32px 50px 0px 45px;
    line-height: 1.5;
    margin-bottom: 109px;
}

/*subscribe Section*/

.subscribe{
    background: url(../img/tea11.jpg);
    width: 100%;
    float: left;
    background-size: cover;
}

.subscribe-one {
    margin-top: 100px;
    margin-bottom: 100px;
}

.email-address {
    width: 562px;
    padding: 21px 18px;
    border-radius: 50px;
    border: none;
    margin-right: 30px;
    margin-left: 139px;
}

.subscribe-btn {
    padding: 22px 81px;
    border-radius: 74px;
    border: 1px solid #f7600e;
    background: #f7600e;
    color: #fff;
    transition: 0.4s ease-in-out;
    margin-left: -141px;
}

.subscribe-btn:hover{
    background: red;
}

.email-address::placeholder{
    color:#3b434c;
}

/*OUR-WORKS section*/

.our-works-two{
    width: 100%;
    float: left;
}

.our-works-text {
    margin-top: 100px;
}

.our-works-text h2 {
    text-align: center;
    font-size: 35pt;
    color: #3b434c;
}

.our-works-text span {
    color: #f7600e;
}

.our-works-text p {
    text-align: center;
    color: #3b434c;
    font-size: 18px;
    margin-top: 30px;
    line-height: 1.7;
}

.our-works-img {
    width: 100%;
    float: left;
    margin-top: 99px;
    margin-bottom: 17px;
}

.our-works-img-hover {
    width: 30%;
    float: left;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
}

.our-works-img-hover img {
    width: 365px;
    height: 364px;
}

.our-works-img-text{
    position: absolute;
    width: 365px;
    height: 364px;
    background: #f7600ebb;
    top: 0;
    opacity: 0;
    border-radius: 6px;
    transition: 0.6s ease-in-out;
}

.our-works-img-text h1 {
    text-align: center;
    margin-top: 87px;
    color: #fff;
    font-size: 25px;
}

.our-works-img-text p {
    text-align: center;
    margin-top: 29px;
    color: #fff;
    line-height: 1.7;
    
}

.show-project-btn {
    margin: 52px auto;
    display: block;
    padding: 20px 46px;
    border-radius: 13px;
    border: none;
    color: #f7600e;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.show-project-btn:hover{
    background:#f7600e ;
    color: #fff;
}

.our-works-img-hover:hover .our-works-img-text{
   opacity: 1;
}

.our-works-img-two{
    margin-top: 0px;
}

.btn-btn{
    width: 100%;
    float: left;
}

.btn-btn-btn {
    margin: 103px auto;
}

.show-btn {
    margin: 0 auto;
    display: block;
    padding: 19px 55px;
    color: #3b434c;
    border: 1px solid gray;
    background: transparent;
    border-radius: 13px;
    font-size: 16px;
}

/*titask section*/

.titask {
    width: 100%;
    float: left;
    background: url(../img/girl.jpg);
    background-size: cover;
    height: 503px;
   
}

.titask-ach {
    width: 100%;
    float: left;
    margin-top: 101px;
}

.titask-ach img {
    width: 129px;
    height: 138px;
    background: #fff;
    margin: 0px auto;
    display: block;
    border-radius: 79px;
}

.titask-ach p {
    margin-top: 50px;
    text-align: center;
    color: #fff;
    line-height: 1.5;
}

.titask-ach h3 {
    text-align: center;
    margin-top: 45px;
    color: #fff;
    margin-bottom: 108px;
}

.titask-ach-icon {
    width: 100%;
    float: left;
    margin-top: -229px;
}

.fa.fa-chevron-left {
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

.fa.fa-chevron-right {
    font-size: 30px;
    float: right;
    color: gray;
    cursor: pointer;
}

/*our team section*/

.our-team{
    width: 100%;
    float: left;
    margin-bottom: 115px;

}

.our-team-text{
    width: 100%;
    float: left;
}

.our-team-text h1 {
    margin-top: 102px;
    text-align: center;
    font-size: 35pt;
    color: #3b434c;
}

.our-team-text span{
    color: #f7600e;
}

.our-team-text p {
    text-align: center;
    margin-top: 30px;
    line-height: 1.8;
}

.our-team-text p {
    text-align: center;
    margin-top: 30px;
    line-height: 1.8;
    color: #3b434c;
}

.our-team-img{
    width: 100%;
    float: left;
}

.our-team-one {
    margin-top: 131px;
    width: 25%;
    float: left;
    transition: 0.4s ease-in-out;
    filter: grayscale(100%);
}



.our-team-one img {
    width: 262px;
    height: 310px;
    border-radius: 6px;
    margin: 0 auto;
    display: block;
}

.our-team-one img:hover{
    background: #f7600e;
}
.our-team-one h2 {
    margin-top: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #3b434c;
}

.our-team-icon {
    width: 100%;
    float: left;
    margin-top: 29px;
    margin-bottom: 32px;
}

.our-team-icon nav ul{
    list-style: none;
}

.our-team-icon nav ul li {
    display: inline-block;
}

.our-team-icon nav ul li {
    display: inline-block;
}


.our-team-icon .fa.fa-facebook {
    color: #fff;
    background: #14A0F9;
    border-radius: 87px;
    padding: 9px 12px;
    margin-left: 69px;
    margin-right: 15px;
    transition: 0.4s ease-in-out;
}

.our-team-icon .fa.fa-facebook:hover{
    transform:scale(1.5);
}

.our-team-icon .fa.fa-instagram {
    color: #fff;
    background: #1DA1F2;
    border-radius: 90px;
    padding: 10px;
    margin-right: 15px;
    transition: 0.4s ease-in-out;
}

.our-team-icon .fa.fa-instagram:hover{
    transform:scale(1.5);
}

.our-team-icon .fa.fa-google-plus {
    color: #fff;
    background: #1DA1F2;
    border-radius: 90px;
    padding: 9px 8px;
    transition: 0.4s ease-in-out;
}

.our-team-icon .fa.fa-google-plus:hover{
    transform:scale(1.5);
}

.our-team-one p{
    text-align: center;
    line-height: 1.5;
}

.our-team-one:hover{
    transform:scale(1.1);
    filter: grayscale(0%);
}

.bulet {
    width: 100%;
    float: left;
    margin-top: 100px;
    text-align: center;
}



.fa.fa-circle{
    color: #C4C5C9;
    margin-right: 5px;
    transition: 0.4s ease-in-out;
}

.fa.fa-circle:hover{
    color: #f7600e;
}

.our-team-one:hover .fa.fa-circle:hover{
    background: #f7600e;
}

/*message Secton*/

.message {
    width: 100%;
    float: left;
    background: url(../img/contact.jpg);
    height: 804px;
    background-size: cover;
}

.message-text{
    width: 100%;
    float: left;
    margin-top: 101px;
}

.message-text h1 {
    text-align: center;
    font-size: 35pt;
    color: #fff;
}
.message-text span{
    color: #f7600e;
}

.message-text p {
    text-align: center;
    font-size: 16pt;
    color: #fff;
    margin-top: 30px;
    line-height: 1.8;
}

.message-box {
    width: 60%;
    float: left;
    margin-left: 272px;
    margin-top: 100px;
}

form{
    width: 90%;
    float: left;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 10px;
    border:none;
    color: #000;
    background: #fff;
    font-size: 15px;
    border-radius: 17px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color:#000;
    cursor: text;
    transition:0.2s ease-in-out ;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -30px;
    font-size: 15px;
    color: #fff;
}

.row{
    display: flex;
    align-items:center ;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 47%;
}

.input-btn-icon{
    width: 100%;
    float: left;
}

.input-button{
  width: 50%;
  float: left;
}

.input-btn {
    padding: 15px 60px;
    color: #fff;
    font-size: 16px;
    background: #f7600e;
    border: none;
    border-radius: 10px;
    margin-left: 269px;
}

.input-icon{
    width: 50%;
    float: left;
}

.input-icon .fa.fa-facebook {
    color: #fff;
    background: #205B9F;
    border-radius: 87px;
    padding: 12px 14px;
    margin-left: 95px;
    margin-right: 12px;
    transition: 0.4s ease-in-out;
}

.input-icon .fa.fa-facebook:hover{
    transform:scale(1.5);
}

.input-icon .fa.fa-instagram{
    color: #fff;
    background: #FF3921;
    border-radius: 87px;
    padding: 12px 11px;
    margin-left: -2px;
    margin-right: 12px;
    transition: 0.4s ease-in-out;
}

.input-icon .fa.fa-instagram:hover{
    transform:scale(1.5);
}

.input-icon .fa.fa-twitter{
    color: #fff;
    background: #FF72A5;
    border-radius: 87px;
    padding: 12px 11px;
    margin-left: -2px;
    margin-right: 12px;
    transition: 0.4s ease-in-out;
}

.input-icon .fa.fa-twitter:hover{
    transform:scale(1.5);
}

.input-icon .fa.fa-google-plus {
    color: #fff;
    background: #009BD5;
    border-radius: 87px;
    padding: 12px 11px;
    margin-left: -2px;
    margin-right: 12px;
    transition: 0.4s ease-in-out;
}

.input-icon .fa.fa-google-plus:hover{
    transform:scale(1.5);
}

.input-icon .fa.fa-behance {
    color: #fff;
    background: #14A0F9;
    border-radius: 87px;
    padding: 12px 11px;
    margin-left: -2px;
    margin-right: 12px;
    transition: 0.4s ease-in-out;
}

.input-icon .fa.fa-behance:hover{
    transform:scale(1.5);
}

/* footer section*/

footer{
    width: 100%;
    float: left;
    background:#3B434C;
}

.footer-text{

}

.design-s {
    width: 50%;
    float: left;
}

.design-s p {
    color: #fff;
    margin-left: 220px;
    margin-top: 46px;
    font-size: 18px;
    margin-bottom: 48px;
}

.design-studio{
    width: 50%;
    float: left;
}

.design-studio p {
    margin-top: 46px;
    color: #fff;
    font-size: 18px;
    margin-left: 178px;
    margin-bottom: 48px;
}

.design-studio p img{

}